body {
    background-image: url("bodybackground.png");
    color: #3cb0fd;
}
form {
    display: inline-block;
}
h1 {
    font-family: Georgia, serif;
    text-align: center;
    color: #3cb0fd;
}

.button {
    background: #5d6e7a;
    background-image: -webkit-linear-gradient(top, #5d6e7a, #c9d7e0);
    background-image: -moz-linear-gradient(top, #5d6e7a, #c9d7e0);
    background-image: -ms-linear-gradient(top, #5d6e7a, #c9d7e0);
    background-image: -o-linear-gradient(top, #5d6e7a, #c9d7e0);
    background-image: linear-gradient(to bottom, #5d6e7a, #c9d7e0);
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
    -webkit-box-shadow: 0px 1px 3px #666666;
    -moz-box-shadow: 0px 1px 3px #666666;
    box-shadow: 0px 1px 3px #666666;
    font-family: Georgia, serif;
    color: #ffffff;
    font-size: 30px;
    padding: 10px 20px 10px 20px;
    border: solid #1f628d 2px;
    text-decoration: none;
    float: left;
}

.button:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

.button:active{
    background: #3787cf;
}
#userName{
    background: #5d6e7a;
    background-image: -webkit-linear-gradient(top, #5d6e7a, #c9d7e0);
    background-image: -moz-linear-gradient(top, #5d6e7a, #c9d7e0);
    background-image: -ms-linear-gradient(top, #5d6e7a, #c9d7e0);
    background-image: -o-linear-gradient(top, #5d6e7a, #c9d7e0);
    background-image: linear-gradient(to bottom, #5d6e7a, #c9d7e0);
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
    -webkit-box-shadow: 0px 1px 3px #666666;
    -moz-box-shadow: 0px 1px 3px #666666;
    box-shadow: 0px 1px 3px #666666;
    font-family: Georgia, serif;
    color: #ffffff;
    font-size: 30px;
    padding: 10px 20px 10px 20px;
    border: solid #1f628d 2px;
    text-decoration: none;
}
#userName:hover{
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}
#userName:active{
     background: #3787cf;
 }
.teamSelect{
    padding: 0 auto;
    margin: 0 auto;
}
.teamSelect div{
    display: inline-block;
    padding: 0 auto;
    margin: 0 auto;
}
.container {
    display: block;
    float: left;
}
.container div {
    height: 70px;
    width: 70px;
    display: inline-table;
    text-align: center;
    font-family: Georgia, serif;
    padding: 0 auto;
    margin: 0 auto;
    color: #3cb0fd;
}