.teamButton {
    display: inline-table;
    height: 30px;
    width: 30px;
    text-align: center;
    background-color: #d3d3d3;
}

.button {
    height: 30px;
    width: 30px;
    text-align: center;
    background-color: #d3d3d3;
}
.container ul {
    display: inline-block;
    list-style-type: none;
}